@font-face {
    font-family: 'NYTFranklin';
    src: url('NYTFranklin-Bold.woff2') format('woff2'),
        url('NYTFranklin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

