@font-face {
    font-family: 'NYTFranklin';
    src: url('../fonts/NYTFranklin-Light.woff2') format('woff2'),
        url('../fonts/NYTFranklin-Light.woff') format('woff'),
        url('../fonts/NYTFranklin-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NYTImperial';
    src: url('../fonts/NYTImperial-Regular.woff2') format('woff2'),
        url('../fonts/NYTImperial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NYTCheltenham';
    src: url('../fonts/NYTCheltenham-BoldItalic.woff2') format('woff2'),
        url('../fonts/NYTCheltenham-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'NYTFranklin';
    src: url('../fonts/NYTFranklin-Bold.woff2') format('woff2'),
        url('../fonts/NYTFranklin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/*===================reset========================*/

body, nav, div{
    margin:0;
}
html{
    font-size: 100% 

        /*default font 16px == 1rem */
}
body{
    background-color: rgb(246,246,246);
    font-family:Georgia;
}
.wrapper{
    border: 1px solid red;
    width:100%;
    position: relative;
}
/*===================reusable========================*/
/*fonts*/

/*flex display*/
.flex{
    display: flex;
    
}
/* icons*/

.icon{
  font-size: 1.063rem;
  color: black;
  border-radius: 100%;
  background: rgb(207, 203, 203);
  padding:5px;
}

/*center element*/
.center{
    margin:0 auto;
}

/*AD section*/
.ads{
    width:100%;
    height:10rem;
    color: #ccc;
    align-items: center;
    justify-content: center;
}

/* article section*/
.article{
    font-family: 'NYTImperial';
    border: 1px solid #00FFFF;
    width: 46.584vw;
    margin: 0 auto;
    color: hsl(0, 0%, 20%);
    font-size:1.25rem;
    line-height: 1.875rem;
    background-color: white;

}
/*===================style the nav========================*/

.main-nav{
   border-bottom: 1px solid rgb(226,226,226);
    width: 100%;
    height: 2.6875rem;
    padding: 5px 7px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: white;
    
}

/*left side btns*/
login-subscribe-btns{
    margin-right: 100px;
}
.login-subscribe-btns button{
    height: 2rem;
    border-radius: 10%;
    background-color: rgb(50,104,145);
    color: white;
}

/*right side btns*/
.fa-bars{
    margin-right:0.9rem;
    color: black;
        
}
.menu-search button  {
    background-color: transparent;
    outline:none;
    border:none;
}
/*===================article title main img caption========================*/

.main-title-fig{
    border: 1px solid green;
    background-color: rgb(255,255,255);
    color: #121212;
    margin-top: 1rem;
    font-size:2.5rem;
}

.main-title-fig h4{
    font-family:'NYTCheltenham';
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom:1.5rem;
    width:37.5rem;
    height: 6rem;
    
}
/*============== fig =============*/
figure {
    border: 1px solid brown;
    margin:0 10.5rem;
}
figure img{
    /*width: 59rem;
    height: 33.25rem;*/
    width: 102%;
    height:auto;
}

figcaption{
    font-family: 'nyt-imperial';
    color: #666666;
    font-size:0.9375rem;
    line-height:1.25rem;
    width: 45rem;
    height: 3.625rem;
    margin: 0.625rem 1.25rem 0 0;
    text-align: left;
    max-width: 100%;
}

figcaption span{
    color: hsl(0,0%,53%);
    font-size:0.8125;
}
/*============== fig =============*/
#author{
    width: 46.8vw;
    align-self: center;
    border: 1px solid blue;
    margin: 0 auto;
}
#date-list{
    margin-left: 0px;
}

.date-share ul{
    padding: 0px;
}
.date-share ul li{
    list-style: none;
    display: inline;
    margin-right: 10px;
    
}
.date-share ul li a{
    text-decoration: none;
    
}

#time {
    margin-right: 19.84375vw;
    
}

#icon-mark {
    font-size: 1.5rem;
    color: black;
}
#icon-box{
    font-size: 1.65rem;
    text-align: center;
    color: black;
}

#icon-num{
  font-size: 12px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  background: transparent;
}

/*img inflation */
.inflationBOX{
    /*border: 15px solid red;*/
    width:80vw;
    height: 65vw;
    max-height:65vw;
    margin: 0 auto;
}
.inflation-head h3{
    font-family: 'NYTCheltenham';
}

.inflation-head span{
    display: inline-block;
    color: #666666;
    font-size:0.875rem;
    line-height: 1.125rem;
    margin-top:-17px;
}
.inflationDIV{
    /*border: 1px solid Magenta;*/
    background-image: url(https://bit.ly/30HSkba);
    background-size:contain;
    background-repeat: no-repeat;
    height:47rem;
    position:relative;
    overflow: hidden;
}
.inflationDIV img{
    width:93.901vw;
    height: 70.540vw;
}

.row1p p, .row2p p{
    font-family: 'NYTFranklin';
    font-size:1.087vw;
    line-height:1.320vw;
    vertical-align: baseline;
    text-align: start;
    /*float: left;*/
    width: 16vw;
    height: 8.696vw;
    position: absolute;
    /*display: inline-block;*/
    /*margin-left: 3%;*/
}
.row1p p span, .row2p p span{
    font-family:'NYTFranklin' ;
    font-weight: bold;
}
.row1p p{
     /*border: 1px solid red;*/
    top:12.422vw;
}
.row2p p{
    top:35.031vw;
    /*margin-bottom:20%;
    border: 1px solid Purple;*/
}

#r1c1, #r2c1{
    left:0;
}
#r1c2, #r2c2{
    left:25%;
}
#r1c3, #r2c3{
    left:52%;
}
#r1c4 , #r2c4{
    left:62.112vw;
}

/*aside*/
aside{
    width:13.125rem;
    height: 59.23rem;
    font-size: 0.85rem;
    font:  'NYTImperial';
    position: absolute;
    top: 29%;
    left: 82%;
}

.aside-container{
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 1.25rem; 
}

#editor{
    border-bottom: 1px solid gray;
    padding:
}
.aside-img{
  width:  75px;
  height: 75px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img-1{
    background-image: url(../26mag-Relampago-Web-Image-square640.jpg);
}
.img-2{
    background-image: url(../26mag-Migratiion-Images-square640.jpg);
}
.img-3{
    background-image: url(../22fakedeath-square640-v3.jpg);
}
.img-4{
    background-image: url(https://tpc.googlesyndication.com/simgad/6075458894681406294?);
}

aside p{
    margin: 0;
}

<<<<<<< HEAD
/* footer*/
footer{
    border: 1px solid peru;
}
#footer-header{
    width: 100vw;
    height: 46px;
    margin: 0 1.9vw;
}

#footer-main-sect{
    width: 100%;
    height:78.4vh;
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    margin: 0 1.9vw;
}
.section{

}
.section ul{
    list-style: none;
    padding: 0;
    
} 

.section ul li{
    margin-top: 9px;
}
=======
>>>>>>> dd474c6386ffae36d557620c623a562cdf5d8afc
